<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/>
       </layout>
    </appender>
    <!--appender name="DailyRollingFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="${catalina.base}/logs/start_j2ee_daily.log" />
		<param name="Append" value="true" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c: %m%n" />
		</layout>
	</appender>
	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender"> 
	    <param name="file" value="${catalina.base}/logs/start_j2ee_rolling.log"/>
	    <param name="MaxFileSize" value="10240KB"/>
	    <param name="Threshold" value="ERROR"/>
	    <param name="MaxBackupIndex" value="100"/>
	    <layout class="org.apache.log4j.PatternLayout"> 
	      <param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss} %p %t %c - %m%n"/> 
	    </layout> 
    </appender> 
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
      <param name="File" value="${catalina.base}/logs/start_j2ee_file.log" />
	    <param name="Append" value="false" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d{ISO8601} %p [%t] %c - %m%n"/>
	    </layout>
  	</appender-->

    <!-- specify the logging level for loggers from other libraries -->
    <logger name="com.opensymphony">
    	<level value="INFO" />
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.impl.SessionFactoryImpl">
    	 <level value="INFO" />
        <appender-ref ref="STDOUT"/>
    </logger>

   	<!-- for all other loggers log only debug and above log messages -->
     <root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT" />
        <!--appender-ref ref="DailyRollingFileAppender"/>
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="FileAppender"/-->
     </root>

</log4j:configuration>

